	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #00838C;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	

	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 1200px;
	}
	

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1.2em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #424242;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		color: #FFFFFF;
	}
	

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 1em 2em 1em 2em;
		background: #4c5b76;
		letter-spacing: 0.20em;
		line-height: 1.8em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #8DCB89;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	
	.button-small
	{
		padding: 0.9em 2em;
		line-height: 1.8em;
		font-size: 1em;
	}
		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
		color: rgba(255, 255, 255, 0.9);
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.1em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	#header
	{
		width: 100%;
		margin: 0px auto;		

	}

	#header-wrapper
	{
		width: 100%;
		margin: 0px auto;

		overflow: hidden;
		padding: 5em 0em;
		background: #d7ffff;
		/* background: #B03500 url(../images/BannerLBlue.png) repeat; */
		/* background: #B03500 url(images/bluebg.png) repeat; */
	}
	
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 5em 0em;
		text-align: center;
	}
	
	#logo h1
	{
		font-size: 4em;

	}
	
	#logo a
	{
		text-decoration: none;
		color: #1761a0;
		/* color: #FFF; */
	}
	
	#logo span
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 20px;
		color: #1761a0;
		/* color: white; */
	}
	
	#logo span a
	{
		/* color: #1761a0; */
		color: rgba(255,255,255,0.8);
	}
	
	#logo .icon
	{
		font-size: 4em;
		color: rgba(255,255,255,1);
	}
	
	

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: fixed;
		width: 100%;
		margin: 0px auto;
		background-color: black;
		opacity:0.75;
		filter:alpha(opacity=40); /* For IE8 and earlier */
		z-index: 1;
	}
	
	#menu ul
	{
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		margin-left: 0.50em;
		padding: 1.5em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: #FFF;
	}
	
	
	#menu .current_page_item a
	{
		color: #FFF;
	}
	


/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper3
	{
		width: 100%;
		margin: 0px auto;

		
		overflow: hidden;
		padding: 8em 0em;
		background: #FFF;
	}
	
	#wrapper4
	{
		width: 100%;
		margin: 0px auto;

		overflow: hidden;
		padding: 8em 0em;
		background: #4c5b76;
	}

	#wrapper4 p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: white;
	}

	#wrapper5
	{
		width: 100%;
		margin: 0px auto;		

		overflow: hidden;
		padding: 8em 0em;
		background: #d7ffff
		/* background: #4c5b76; */
	}
	
	#wrapper5 p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		/* font-size: 0.80em; */
		color: #1761a0;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		width: 100%;
		margin: 0px auto;		

		text-align: center;
	}

	
	#footer .title span
	{
		color: rgba(255,255,255,0.4);
	}

/*********************************************************************************/
/* Contactos                                                                     */
/*********************************************************************************/

#contactos
{
	width: 100%;
	margin: 0px auto;		

	text-align: center;
}

#contactos .title h2
{
	color: #1761a0;
	/* color: rgba(255,255,255,0.4); */

}


/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		width: 100%;
		margin: 0px auto;		

		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
		background-color: #424242;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: white;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}


	
/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio
	 {
		width: 100%;
		margin: 0px auto;		

	 }



	#portfolio .box
	{
		text-align: center;
		color: rgba(0,0,0,0.5);
	}
	
	#portfolio h3
	{
		display: block;
		padding-bottom: 1em;
		text-transform: uppercase;
		font-size: 1em;
		color: rgba(0,0,0,0.6);
	}

	#portfolio .title
	{
		width: 100%;
		margin: 0px auto;
		
		text-align: center;
	}

	#portfolio .title h2
	{
		width: 100%;
		margin: 0px auto;
		
		color: rgba(0,0,0,0.8);
	}
	#portfolio .title span
	{
		width: 100%;
		margin: 0px auto;
	}

	.column1,
	.column2,
	.column3,
	.column4,
	.column5,
	.column6,
	.column7,
	.column8,
	.column9,
	.column10,
	.column11,
	.column12,
	.column13,
	.column14,
	.column15
	{
		width: 282px;
	}
	
	.column1,
	.column2,
	.column3,
	.column4,
	.column5,
	.column6,
	.column7,
	.column8,
	.column9,
	.column10,
	.column11,
	.column12,
	.column13,
	.column14,
	.column15
	{
		float: left;
		margin-right: 24px;
	}
	
	.column1,
	.column2,
	.column3,
	.column4,
	.column5,
	.column6,
	.column7,
	.column8,
	.column9,
	.column10,
	.column11,
	.column12,
	.column13,
	.column14,
	.column15
	{
		position: relative;
		left: 130px;
	}
	
	

	

  